{% include 'fileupload/header.html' %}
{% load static %}
		
		<body>


			<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Save your file information on blockchain :</h2>
									
									<form method="POST"  enctype="multipart/form-data">
    										{% csrf_token %}
    											{% load crispy_forms_tags %}
    										{% crispy form %}
									</form>
							</div>							
						</div>
					</div>
				</div>
			</section>		
		


{% include 'fileupload/footer.html' %}
